.fa {
    padding: 10px;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    color:black;
}
p{
    font-size: 20px;
    color:black;
}
h2{
    color: black;
    font-weight: bold;
    /*letter-spacing: 4px;*/
}
#testimonial{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    border-radius: 5px;
    padding: 10px;
    background-color: #e84393;
    background-image: linear-gradient(315deg, #e84393 0%, #000000 74%);
    color: white;
    margin: 12px;
}
img {
    border-radius:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
  /* Add some padding inside the card container */
.contain p{
    padding: 2px 16px;
    font-family: Tahoma, sans-serif;
    color: white;
}
.contain h4{
    text-align: center;
}
#section1,#section2,#achievements {
    /*padding-top:50px;*/
    margin: 10px;
    padding: 15px;
    color:black; 
}
#contact  h3{
    text-align: center;
    /*letter-spacing: 1em;*/
    color: #fff;
}
#contact i{
    color:lavender;
}
#contact i:hover{
    color:red;
}
.navbar {
    font-family:Tahoma, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: medium !important;
    /*letter-spacing: 4px;*/
    opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
.contact{
    font-size: small;
    /*letter-spacing: 4px;*/
    background-color: #2d2d30;
    color: #fff;
}
#achievements{
    max-width: 100%;
    height: 300px;
    border: 1px solid rgb(20, 20, 20);
    border-radius: 2px;
    margin: 10px;
    padding: 15px;
}

.chatbox{
    width: 500px;
    min-width: 390px;
    height: 350px;
    background: #fff;
    padding:0px;
    position: fixed;
    bottom: 70px;
    right: 15px;
    z-index: 999;
    /*margin: 20px auto;*/
    box-shadow: 0 3px #ccc;
    border-radius: 10px;
}
.chatbackground{
    width: 100%;
    height: 20%;
    border-radius: 10px;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    color: #fff;
    text-align: center;
    padding: 10px;
}
.chatbackground p{
    font-family:Tahoma, sans-serif;
    font-weight: 100;
    font-size: medium;
    color: white;
}
#headname{
    letter-spacing: 4px;
}
.chatlogs{
    width: 100%;
    padding: 10px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow: auto;
}

.chatlogs::-webkit-scrollbar{
    width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(0,0,0,.1);
}

.chat{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}

.chat .user-photo{
    width: 60px;
    height: 60px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: #151616;
}

.chat .user-photo img{
    width: 100%;
}
.chat .chat-message{
    width: 80%;
    padding: 15px;
    margin: 5px 10px 0;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
}

.bot .chat-message{
    background: black;
}

.user .chat-message{
    background:darkgray;
    order: -1;
}

.chat-form{
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 10px;
}

.chat-form textarea{
    background:#dddedf;
    width: 85%;
    height: 50px;
    border: 2px solid #eee;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    color: #333;
    font-size: 18px;
}

.chat-form textarea:focus{
    background: #fff;
}

.chat-form textarea::-webkit-scrollbar{
    width: 10px;
}

.chat-form textarea::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(0,0,0,.1);
}

.chat-form button{
    /*background: #5a5f5f;*/
    background-color: #5b6467;
    background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
    padding: 5px 15px;
    font-size: 30px;
    border: none;
    color: #fff;
    margin: 0 10px;
    border-radius: 50px;
    box-shadow: 0 3px 0 #1c1d1d;
    cursor: pointer;
    outline: none;

    -webkit-transition: background .2s ease;
    -moz-transition: background .2s ease;
    -o-transition: background .2s ease;
}

.chat-form button:hover{
    /*background: #474545;*/
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
}

.chatbackground button{
    background: none;
    border: none;
    outline: none;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 15%;
}
.chatbackground button{ transition: all .2s ease-in-out; }
.chatbackground button:hover { transform: scale(1.4); }
#popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.fab-container{
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 999;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}
.fab-icon-holder button{
    outline: none;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.fab-icon-holder{
    padding: 6px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    color: #fff;
    box-shadow: 0 6px 20px rgba(0,0,0,.2);
}
.fab-icon-holder:hover{
    opacity: 0.9;
}
.fab-icon-holder .glyphicon{
    font-size: 25px;
    color: white;
}


.fab-label{
    padding: 2px 5px;
    align-self: center;
    user-select: none;
    white-space: nowrap;
    border-radius: 3px;
    font-size: 16px;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    color: white;
    margin-right: 10px;
    box-shadow: 0 6px 20px rgba(0,0,0,.1);
}